- name: Sets hostname
  hostname:
    name: "{{ hostname }}"
  tags: hostname

- name: install basic packages
  action: >
    apt name={{ item }} state=present update_cache=yes
  with_items:
    - apache2-utils
    - calibre
    - conky
    - ecryptfs-utils
    - encfs
    - gimp
    - git
    - httpie
    - iotop
    - jq
    - lnav
    - mosh
    - mpv
    - pgcli
    - ruby-full
    - shutter
    - silversearcher-ag
    - sshfs
    - tmux
    - tree
    - vim
    - zsh
  become: yes
  tags: packages

- name: install with pipsi
  command: pipsi install {{ item }}
  with_items:
    - lektor
    - neovim
    - pipenv
    - stellar
    - subliminal
    - termdown
    - watson
    - youtube-dl
    - flake8
  become: no
  tags: pipsi

- name: Install telegram
  shell: |
    wget -O- https://telegram.org/dl/desktop/linux | sudo tar xJ -C /opt/
    sudo ln -s /opt/Telegram/Telegram /usr/local/bin/telegram-desktop
  tags: telegram

- name: fzy
  apt:
    deb: https://github.com/jhawthorn/fzy/releases/download/0.9/fzy_0.9-1_amd64.deb
  tags: fzy

- name: zoom
  apt:
    deb: https://zoom.us/client/latest/zoom_amd64.deb
  tags: zoom

- name: fzf
  become: no
  shell: |
    git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
    ~/.fzf/install
  tags: fzf

- name: heroku-cli
  shell: curl https://cli-assets.heroku.com/install.sh | sh
  tags: heroku

- name: ngrok
  unarchive:
    src: https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
    dest: /home/dshiga/.local/bin/
    remote_src: yes
  become: no
  tags: ngrok
